<% include ./layouts/header %>
<div class='ui main text container segment' style='margin-top: 3em'>
    <div class='ui huge header '>New Blog</div>
    <form class='ui form' action = '/blogs' method = 'POST' >
        <div class='field'>
            <label>Blog Name</label>
            <input type = 'text' name = 'title' placeholder = 'Title'>
        </div>
        <div class='field'>
            <label>Image</label>
            <input type = 'text' name = 'imgSrc' placeholder = 'image src'>
        </div>
        <div class='field'>
            <label>Blog Content</label>
            <textarea name='bodies'></textarea>
        </div>
        <button class='violet ui basic button'>Submit</button>
    </form>
</div>
<% include ./layouts/footer %>